<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>submission form</title>
</head>
<body>
   <h2 style="color: blueviolet;"> Our submission form</h2> 
   <p>Feel free to put in your detials</p>
   <form action="./submissionForm.html">
   <label for="fname" >Enter your name</label> <br>
   <input type="text" id="fname" value=""> <br>
   <label for="contact">contact </label> <br>
   <input type="text" id="contact" value=""> <br>
   <label for="email">Email</label> <br>
   <input type="text" id="email " value=""><br>

   <button type="button">
    submit
   </button>
   <p>Thanks for filling in your information</p>
</body>
</html>